body{
	background: #f2f2f2;
	.listado{
	background: #FFF;
	h1 {
		color:#000;
	}
	}
	.usuario{
		    border: 1px solid #bbb;
	}
}
.space{
	width: 100%;
    height: 20px;
}
.ev{
	cursor: pointer;
}
#myModalEliminar {
    border-radius: 7px;
	-moz-border-radius: 7px;
	-webkit-border-radius: 7px;
    h4{
		font-size: 18px;
		color: #094FA4;
    }
}
.tab-content{
	border-left: 1px solid #ddd;
	border-right: 1px solid #ddd;
	border-bottom: 1px solid #ddd;
	-webkit-border-bottom-right-radius: 15px;
	-webkit-border-bottom-left-radius: 15px;
	-moz-border-radius-bottomright: 15px;
	-moz-border-radius-bottomleft: 15px;
	border-bottom-right-radius: 15px;
	border-bottom-left-radius: 15px;	
}
.tab-pane{
	padding-bottom: 30px;
}
h1{
	color:#000;
}
.nav-tabs>li>a {
    border: 1px solid #ddd;
}