$azul1:#094FA4;
$azul2:#006EC1;
$azul3:#009EE5;
$azul4:#52BCEC;
$azul5:#89D1F3;
$azul6:#B5E5F9;
$azul7:#e7f6fd;

$verde:#86C82D;
body{
	background: #f2f2f2;
	.listado{
	background: #FFF;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	-webkit-box-shadow: 5px 5px 10px 3px rgba(0,0,0,0.75);
	-moz-box-shadow: 5px 5px 10px 3px rgba(0,0,0,0.75);
	box-shadow: 5px 5px 10px 3px rgba(0,0,0,0.75);
	h1 {
		color:#000;
	}
	}
	.usuario{
		    border: 1px solid #bbb;		
	}
}
.space{
	width: 100%;
    height: 20px;
}
.ev{
	cursor: pointer;
}
.panel-title {
    margin-top: 10px;
    margin-bottom: 0;
    font-size: 16px;
    color: inherit;
}
#myModalEliminar, #myModalDescripcion, #myModalEliminaVarios, #myModalFechaVenci {
    border-radius: 7px;
	-moz-border-radius: 7px;
	-webkit-border-radius: 7px;
    h4{
		font-size: 18px;
		color: #094FA4;
    }
}
.tab-content{
	border-left: 1px solid #ddd;
	border-right: 1px solid #ddd;
	border-bottom: 1px solid #ddd;
	-webkit-border-bottom-right-radius: 15px;
	-webkit-border-bottom-left-radius: 15px;
	-moz-border-radius-bottomright: 15px;
	-moz-border-radius-bottomleft: 15px;
	border-bottom-right-radius: 15px;
	border-bottom-left-radius: 15px;	
}
.tab-pane{
	padding-bottom: 30px;
}
h1{
	color:#000;
}
.nav-tabs>li>a {
    border: 1px solid #ddd;
}
.panel-default{
  &:hover {
    border-color: #009ee5;
	}
	cursor: pointer;
}
.barra {
    height: 100%;
    z-index: -1;
    background: #1d5794;
    background: -moz-linear-gradient(top, #1d5794 0%, #1d5794 17%, #1d5794 17%, #127cc2 18%, #127cc2 36%, #127cc2 36%, #1ca7e5 37%, #1ca7e5 53%, #70b9ea 54%, #70b9ea 69%, #a1d2f3 71%, #a1d2f3 86%, #cae7fa 87%, #cae7fa 100%);
    background: -webkit-linear-gradient(top, #1d5794 0%, #1d5794 17%, #1d5794 17%, #127cc2 18%, #127cc2 36%, #127cc2 36%, #1ca7e5 37%, #1ca7e5 53%, #70b9ea 54%, #70b9ea 69%, #a1d2f3 71%, #a1d2f3 86%, #cae7fa 87%, #cae7fa 100%);
    background: linear-gradient(to bottom, #1d5794 0%, #1d5794 17%, #1d5794 17%, #127cc2 18%, #127cc2 36%, #127cc2 36%, #1ca7e5 37%, #1ca7e5 53%, #70b9ea 54%, #70b9ea 69%, #a1d2f3 71%, #a1d2f3 86%, #cae7fa 87%, #cae7fa 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1d5794', endColorstr='#cae7fa',GradientType=0 );
    position: fixed;
    width: 100%;
}
.nav-tabs>li {
    background-color: #fff;
}
.regular-checkbox {
    display: none;
}
.regular-checkbox + label {
    background-color: #fff;
    border: 2px solid $azul3;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05), inset 0px -15px 10px -12px rgba(0, 0, 0, 0.05);
    padding: 9px;
    border-radius: 3px 3px 3px 3px;
	-moz-border-radius: 3px 3px 3px 3px;
	-webkit-border-radius: 3px 3px 3px 3px;
    display: inline-block;
    top: 2px;
    position: relative;
    margin: 1px 5px 5px 1px;
}
.regular-checkbox + label:active,
.regular-checkbox:checked + label:active {
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05), inset 0px 1px 3px rgba(0, 0, 0, 0.1);
}
.regular-checkbox:checked + label {
    background-color: #fff;
    border: 2px solid $azul3;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05), inset 0px -15px 10px -12px rgba(0, 0, 0, 0.05), inset 15px 10px -12px rgba(255, 255, 255, 0.1);
    color: $azul3;
}
.regular-checkbox:checked + label:after {
    content: '\2714';
    font-size: 14px;
    position: absolute;
    top: -4px;
    left: 3px;
    color: $azul3;
}
.big-checkbox + label {
    padding: 11px;
}

.big-checkbox:checked + label:after {
    font-size: 22px;
    left: 3px;
    color: $azul3;
}
.tag {
    font-family: Arial, sans-serif;
    width: 200px;
    position: relative;
    top: 5px;
    text-transform: uppercase;
    display: block;
    float: left;
    color: $azul1;
}
.acomodo{
	top: -6px;
	left: -40px;
}
.vista{display: none;}
.panel-heading {
    padding: 5px 15px;
}
.panel {
    margin-bottom: 10px;
}