doctype
html
	head
		meta(charset='utf-8')
		meta(http-equiv='X-UA-Compatible', content='IE=edge')
		title abc
		meta(name='description', content='')
		meta(name='viewport', content='width=device-width, initial-scale=1')
		link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css')
		link(rel='stylesheet', href='../css/custom.css')
		link(rel="stylesheet", href="../font-awesome/css/font-awesome.min.css")

	body
		.row.barra
		br
		.space
		.container
			.usuario.listado
				.row 
					.col-md-offset-1.col-md-10
						h1 Inicia sesión en abc
						br
						form#Usuario
							.col-md-offset-3.col-md-6.col-xs-12
								label(data-toggle="tooltip" data-placement="top" title="Ingresa tu usuario") Usuario
								.input-group
									.input-group-addon
										i.fa.fa-user-o(aria-hidden="true")
									input.form-control.codigo(placeholder="Introduce tu Usuario")
							.col-md-offset-3.col-md-6.col-xs-12
								label(data-toggle="tooltip" data-placement="top" title="Contraseña") Contraseña
								.input-group
									.input-group-addon
										i.fa.fa-key(aria-hidden="true")
									input.form-control.codigo(placeholder="Introduce tu contraseña", type="password")
								br
					.col-xs-offset-1.col-xs-10.text-center
						br
						button.btn.btn-primary 
							i.fa.fa-sign-in  
							|  Entrar
						.space

		.space
		br
		.container
			.row
				div
					// Nav tabs
					ul.nav.nav-tabs(role='tablist')
						li.active(role='presentation')
							a(href='#lista', aria-controls='lista', role='tab', data-toggle='tab') Cupones existentes
						li(role='presentation')
							a(href='#nuevacampana', aria-controls='nuevacampana', role='tab', data-toggle='tab') Nuevo
					// Tab panes
					.tab-content
						#lista.tab-pane.active.listado(role='tabpanel')
							.row
								.space
								.col-md-offset-1.col-md-10.text-center
									h1 Busqueda
									form#busqueda
										br
										.col-xs-12.col-md-4
											label(data-toggle="tooltip" data-placement="top" title="Ingrese código de cupón a buscar") Código de cupón
											.input-group
												.input-group-addon
													i.fa.fa-certificate(aria-hidden="true")
												input.form-control(placeholder="Introduce un código de cupón")
										.col-xs-12.col-md-4
											label(data-toggle="tooltip" data-placement="top" title="Ingrese el nombre del cupón a buscar") Nombre de cupón
											.input-group
												.input-group-addon
													i.fa.fa-calendar(aria-hidden="true")
												input.form-control(placeholder="Nombre de cupón")
										.col-xs-12.col-md-4
											label(data-toggle="tooltip" data-placement="top" title="Ingrese el % de descuento") Descuento
											.input-group
												input.form-control(placeholder="Introduce el porcentaje")
												.input-group-addon %
										.col-xs-12
											br
											label V i g e n c i a
										.col-xs-12.col-md-6
											label(data-toggle="tooltip" data-placement="top" title="Ingrese la fecha de inicio del cupón a buscar") Fecha de inicio
											.input-group
												.input-group-addon
													i.fa.fa-calendar(aria-hidden="true")
												input.form-control.fechafin(type="date")
										.col-xs-12.col-md-6
											label(data-toggle="tooltip" data-placement="top" title="Ingrese la fecha de termino del cupón a buscar") Fecha de termino
											.input-group
												.input-group-addon
													i.fa.fa-calendar(aria-hidden="true")
												input.form-control.fechafin(type="date")


							.row
								.space
								.col-md-offset-1.col-md-10.text-center
									h1 Listado de Promociones
									br
								.col-md-12
									.col-md-offset-1.col-md-10.campania
										.panel.panel-default
											.panel-heading
												.row
													.col-md-6.col-xs-12.text-center
														h3.panel-title Titulo Cupón
													.col-md-4.col-xs-12.text-center
														h3.panel-title Estatus:  
															strong  Activo
													.col-md-1.col-xs-6.text-center
														i.fa.fa-cog.fa-fw.fa-2x.ev.editar(data-toggle="tooltip" data-placement="top" title="Configurar")
													.col-md-1.col-xs-6.text-center(data-toggle="tooltip" data-placement="top" title="Eliminar")
														i(target='_BLANK',href='#', data-toggle='modal', data-target='#myModalEliminar', data-trigger='hover').fa.fa-trash-o.fa-2x.ev.delete
															
											.panel-body
												.col-md-6.col-xs-12.text-center
													| Descripción
												.col-md-4.col-xs-12.text-center
													| Fecha termino: 
													strong  12/12/2017
												.col-md-2.col-xs-12.text-center
													| Descuento: 
													strong  30%

								.col-md-12
									.col-md-offset-1.col-md-10.campania
										.panel.panel-default
											.panel-heading
												.row
													.col-md-6.col-xs-12.text-center
														h3.panel-title Titulo Cupón
													.col-md-4.col-xs-12.text-center
														h3.panel-title Estatus:  
															strong  Activo
													.col-md-1.col-xs-6.text-center
														i.fa.fa-cog.fa-fw.fa-2x.ev.editar(data-toggle="tooltip" data-placement="top" title="Configurar")
													.col-md-1.col-xs-6.text-center(data-toggle="tooltip" data-placement="top" title="Eliminar")
														i(target='_BLANK',href='#', data-toggle='modal', data-target='#myModalEliminar', data-trigger='hover').fa.fa-trash-o.fa-2x.ev.delete
											.panel-body
												.col-md-6.col-xs-12.text-center
													| Descripción
												.col-md-4.col-xs-12.text-center
													| Fecha termino: 
													strong  12/12/2017
												.col-md-2.col-xs-12.text-center
													| Descuento: 
													strong  30%

								.col-md-12
									.col-md-offset-1.col-md-10.campania
										.panel.panel-default
											.panel-heading
												.row
													.col-md-6.col-xs-12.text-center
														h3.panel-title Titulo Cupón
													.col-md-4.col-xs-12.text-center
														h3.panel-title Estatus:  
															strong  Activo
													.col-md-1.col-xs-6.text-center
														i.fa.fa-cog.fa-fw.fa-2x.ev.editar(data-toggle="tooltip" data-placement="top" title="Configurar")
													.col-md-1.col-xs-6.text-center(data-toggle="tooltip" data-placement="top" title="Eliminar")
														i(target='_BLANK',href='#', data-toggle='modal', data-target='#myModalEliminar', data-trigger='hover').fa.fa-trash-o.fa-2x.ev.delete
											.panel-body
												.col-md-6.col-xs-12.text-center
													| Descripción
												.col-md-4.col-xs-12.text-center
													| Fecha termino: 
													strong  12/12/2017
												.col-md-2.col-xs-12.text-center
													| Descuento: 
													strong  30%
								.col-md-12
									.col-md-offset-1.col-md-10.campania
										.panel.panel-default
											.panel-heading
												.row
													.col-md-6.col-xs-12.text-center
														h3.panel-title Titulo Cupón
													.col-md-4.col-xs-12.text-center
														h3.panel-title Estatus:  
															strong  Activo
													.col-md-1.col-xs-6.text-center
														i.fa.fa-cog.fa-fw.fa-2x.ev.editar(data-toggle="tooltip" data-placement="top" title="Configurar")
													.col-md-1.col-xs-6.text-center(data-toggle="tooltip" data-placement="top" title="Eliminar")
														i(target='_BLANK',href='#', data-toggle='modal', data-target='#myModalEliminar', data-trigger='hover').fa.fa-trash-o.fa-2x.ev.delete
											.panel-body
												.col-md-6.col-xs-12.text-center
													| Descripción
												.col-md-4.col-xs-12.text-center
													| Fecha termino: 
													strong  12/12/2017
												.col-md-2.col-xs-12.text-center
													| Descuento: 
													strong  30%

								.col-md-12
									.col-md-offset-1.col-md-10.campania
										.panel.panel-default
											.panel-heading
												.row
													.col-md-6.col-xs-12.text-center
														h3.panel-title Titulo Cupón
													.col-md-4.col-xs-12.text-center
														h3.panel-title Estatus:  
															strong  Activo
													.col-md-1.col-xs-6.text-center
														i.fa.fa-cog.fa-fw.fa-2x.ev.editar(data-toggle="tooltip" data-placement="top" title="Configurar")
													.col-md-1.col-xs-6.text-center(data-toggle="tooltip" data-placement="top" title="Eliminar")
														i(target='_BLANK',href='#', data-toggle='modal', data-target='#myModalEliminar', data-trigger='hover').fa.fa-trash-o.fa-2x.ev.delete
											.panel-body
												.col-md-6.col-xs-12.text-center
													| Descripción
												.col-md-4.col-xs-12.text-center
													| Fecha termino: 
													strong  12/12/2017
												.col-md-2.col-xs-12.text-center
													| Descuento: 
													strong  30%
								.col-md-offset-1.col-md-10
									nav(aria-label='...')
										ul.pager
											li
												a(href='#') Previous
											li
												a(href='#') Next

						#nuevacampana.tab-pane.listado(role='tabpanel')
							.row
								.col-xs-offset-1.col-xs-10
									h1 Agregar Cupón
									br
									form#nuevacampana
										.col-xs-12
											.col-xs-offset-3.col-xs-9.col-md-offset-8.col-md-4
												label(data-toggle="tooltip" data-placement="top" title="Selecciona archivo para crear multiples cupones") Alta de multiples cupones.
												input.archivo(type='file',id="file",accept=".txt")
										.col-xs-12
											.col-xs-12.col-md-12
												label(data-toggle="tooltip" data-placement="top" title="Ingresa código para el nuevo cupón")
													span.text-left Código Cupón
												.input-group
													.input-group-addon
														i.fa.fa-certificate(aria-hidden="true")
													input.form-control.codigo(placeholder="Introduce el código de cupón")
											.col-xs-12
												br
											.col-xs-12.col-md-12
												label(data-toggle="tooltip" data-placement="top" title="Ingresa un nombre para el nuevo cupón")
													span.text-left Nombre cupón
												.input-group
													.input-group-addon
														i.fa.fa-certificate(aria-hidden="true")
													input.form-control.nombre(placeholder="Nombre para cupón")
											.col-xs-12
												br
										.col-xs-12
											.col-xs-12.col-md-6
												label(data-toggle="tooltip" data-placement="top" title="Ingrese una cifra para el % de descuento") Descuento
												.input-group
													.input-group-addon
														i.fa.fa-scissors
													input.form-control.descuento(type='text', placeholder='Introduce el descuento de la cupón')
													.input-group-addon %
											.col-xs-12.col-md-6
												label(data-toggle="tooltip" data-placement="top" title="Ingresa tu MB") MB del Ejecutivo.
												.input-group
													.input-group-addon
														i.fa.fa-user-o(aria-hidden="true")
													input.form-control.mbEjecutivo(type="text", placeholder="Introduce MB")
										.col-xs-12
											br
										.col-xs-12
											.col-xs-12.col-md-6
												label(data-toggle="tooltip" data-placement="top" title="Ingrese una fecha inicial para la vigencia del cupón") Fecha de inicio
												.input-group
													.input-group-addon
														i.fa.fa-calendar(aria-hidden="true")
													input.form-control.fechainicio(type="date")
											.col-xs-12.col-md-6
												label(data-toggle="tooltip" data-placement="top" title="Ingrese una fecha de termino de la vigencia del cupón") Fecha de termino
												.input-group
													.input-group-addon
														i.fa.fa-calendar(aria-hidden="true")
													input.form-control.fechafin(type="date")
										.col-xs-12
											br
										.col-xs-12
											.col-xs-12.col-md-4
												label(data-toggle="tooltip" data-placement="top" title="Selecciona el producto para la validez del cupón") Producto 
												.input-group
													.input-group-addon
														i.fa.fa-rocket(aria-hidden="true")
													select.form-control
														option Selecciona un Producto
														option Fronterizos y legalizados
														option Fronterizos y legalizados
														option Fronterizos y legalizados
											.col-xs-12.col-md-4
												label(data-toggle="tooltip" data-placement="top" title="Ingrese el plan al que aplica") Plan
												.input-group
													.input-group-addon
														i.fa.fa-calendar-check-o(aria-hidden="true")
													input.form-control.fechafin(placeholder="Introduce el plan del cupón")
											.col-xs-12.col-md-4
												label(data-toggle="tooltip" data-placement="top" title="Ingrese tipo descuento?") Ramo
												.input-group
													.input-group-addon
														i.fa.fa-industry(aria-hidden="true")
													select.form-control
														option Selecciona.....
														option Ramo del descuento.
														option Ramo del descuento.
														option Ramo del descuento.
											.col-xs-12
												br
										.col-xs-12
											.col-xs-12
												label(data-toggle="tooltip" data-placement="top" title="Descripción del descuento") Observaciones
												.input-group
													.input-group-addon
														i.fa.fa-comments(aria-hidden="true")
													textarea.form-control.descripcion(placeholder="Introduce observaciones")
												.space
												button.btn.btn-primary 
													i.fa.fa-trash-o.ev.fa-floppy-o
													|  Crear
												.space
		br
		.space
		.container
			.usuario.listado
				.row 
					.col-md-offset-1.col-md-10
						h1 Historial
						br
				.row
					.col-md-12
						.col-md-offset-1.col-md-10
							#accordion.panel-group(role='tablist', aria-multiselectable='true')
								.panel.panel-default(role='button', data-toggle='collapse', data-parent='#accordion', href='#collapseOne', aria-expanded='true', aria-controls='collapseOne')
									#headingOne.panel-heading(role='tab')
										h4.panel-title
											.row
												.col-md-6.text-center
													h4.panel-title Nombre Cupón
												.col-md-6.text-center
													h4.panel-title Tipo de edición: 
														strong  Tipo de edición
									#collapseOne.panel-collapse.collapse.in(role='tabpanel', aria-labelledby='headingOne')
										.panel-body
											.row
												.col-md-6
													ul.list-group
														li.list-group-item
															span.badge 1231ASDS
															| Código Cupón
														li.list-group-item
															span.badge 12312312
															| Sucursal
														li.list-group-item
															span.badge 12ASDFA
															| Clave puesto
												.col-md-6
													ul.list-group
														li.list-group-item
															span.badge asdfaassdf asdasfasdf asdfasdfasdf
															| Nombre Ejecutivo
														li.list-group-item
															span.badge 02/29/2020
															| Fecha edición
														li.list-group-item
															span.badge Eliminacón
															| Tipo Edición
								.panel.panel-default(role='button', data-toggle='collapse', data-parent='#accordion', href='#collapseTwo', aria-expanded='false', aria-controls='collapseTwo')
									#headingTwo.panel-heading(role='tab')
										h4.panel-title
											.row
												.col-md-6.text-center
													h4.panel-title Nombre Cupón
												.col-md-6.text-center
													h4.panel-title Tipo de edición: 
														strong  Tipo de edición
									#collapseTwo.panel-collapse.collapse(role='tabpanel', aria-labelledby='headingTwo')
										.panel-body
											.row
												.col-md-6
													ul.list-group
														li.list-group-item
															span.badge 1231ASDS
															| Código Cupón
														li.list-group-item
															span.badge 12312312
															| Sucursal
														li.list-group-item
															span.badge 12ASDFA
															| Clave puesto
												.col-md-6
													ul.list-group
														li.list-group-item
															span.badge asdfaassdf asdasfasdf asdfasdfasdf
															| Nombre Ejecutivo
														li.list-group-item
															span.badge 02/29/2020
															| Fecha edición
														li.list-group-item
															span.badge Eliminacón
															| Tipo Edición
								.panel.panel-default(role='button', data-toggle='collapse', data-parent='#accordion', href='#collapseThree', aria-expanded='false', aria-controls='collapseThree')
									#headingThree.panel-heading(role='tab')
										h4.panel-title
											.row
												.col-md-6.text-center
													h4.panel-title Nombre Cupón
												.col-md-6.text-center
													h4.panel-title Tipo de edición: 
														strong  Tipo de edición
									#collapseThree.panel-collapse.collapse(role='tabpanel', aria-labelledby='headingThree')
										.panel-body
											.row
												.col-md-6
													ul.list-group
														li.list-group-item
															span.badge 1231ASDS
															| Código Cupón
														li.list-group-item
															span.badge 12312312
															| Sucursal
														li.list-group-item
															span.badge 12ASDFA
															| Clave puesto
												.col-md-6
													ul.list-group
														li.list-group-item
															span.badge lkjhlkj asdfasdf aasd
															| Nombre Ejecutivo
														li.list-group-item
															span.badge 02/29/2020
															| Fecha edición
														li.list-group-item
															span.badge Eliminacón
															| Tipo Edición

		.space
		br

		// Modal
		#myModalEliminar.modal.fade(tabindex='-1', role='dialog', aria-labelledby='myModalLabel')
			.modal-dialog(role='document')
				.modal-content
					.modal-header
						button.close(type='button', data-dismiss='modal', aria-label='Close')
							span(aria-hidden='true') ×
						h4.modal-title Eliminar
					.modal-body
						h4 ¿Estas seguro de eliminar la campaña?
					.modal-footer
						button.btn.btn-default(type='button', data-dismiss='modal') Close
						button.btn.btn-primary(type='button', data-dismiss='modal') Save changes

		// Modal
		#myModalError.modal.fade(tabindex='-1', role='dialog', aria-labelledby='myModalLabel')
			.modal-dialog(role='document')
				.modal-content
					.modal-header
						button.close(type='button', data-dismiss='modal', aria-label='Close')
							span(aria-hidden='true') ×
						h4.modal-title Error
					.modal-body
						h4 idCupon
						p descripcion del error, descripcion del error
					.modal-footer
						button.btn.btn-default(type='button', data-dismiss='modal') Cerrar
		
	script(src='http://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js')
	script(src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js")
	script(src='../js/app.js')