doctype
html
	head
		meta(charset='utf-8')
		meta(http-equiv='X-UA-Compatible', content='IE=edge')
		title abc
		meta(name='description', content='')
		meta(name='viewport', content='width=device-width, initial-scale=1')
		link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css')
		link(rel='stylesheet', href='../css/custom.css')
		link(rel="stylesheet", href="../font-awesome/css/font-awesome.min.css")

	body
		br
		.container
			.row
				div
					// Nav tabs
					ul.nav.nav-tabs(role='tablist')
						li.active(role='presentation')
							a(href='#lista', aria-controls='lista', role='tab', data-toggle='tab') Campañas existentes
						li(role='presentation')
							a(href='#nuevacampana', aria-controls='nuevacampana', role='tab', data-toggle='tab') Nuevo
					// Tab panes
					.tab-content
						#lista.tab-pane.active.listado(role='tabpanel')
							.row
								.space
								.col-md-offset-1.col-md-10.text-center
									h1 Listado de Promociones
									br
								.col-md-offset-1.col-md-10.campania
									.panel.panel-default
										.panel-heading
											.row
												.col-md-6.col-xs-12.text-center
													h3.panel-title Titulo Campaña
												.col-md-4.col-xs-12.text-center
													h3.panel-title Estatus:  
														strong  Activo
												.col-md-1.col-xs-6.text-center
													i.fa.fa-cog.fa-fw.fa-2x.ev.editar(data-toggle="tooltip" data-placement="top" title="Configurar")
												.col-md-1.col-xs-6.text-center(data-toggle="tooltip" data-placement="top" title="Eliminar")
													i(target='_BLANK',href='#', data-toggle='modal', data-target='#myModalEliminar', data-trigger='hover').fa.fa-trash-o.fa-2x.ev.delete
														
										.panel-body
											.col-md-6.col-xs-12.text-center
												| Descripción
											.col-md-4.col-xs-12.text-center
												| Fecha termino: 
												strong  12/12/2017
											.col-md-2.col-xs-12.text-center
												| Descuento: 
												strong  30%

								.col-md-offset-1.col-md-10.campania
									.panel.panel-default
										.panel-heading
											.row
												.col-md-6.col-xs-12.text-center
													h3.panel-title Titulo Campaña
												.col-md-4.col-xs-12.text-center
													h3.panel-title Estatus:  
														strong  Activo
												.col-md-1.col-xs-6.text-center
													i.fa.fa-cog.fa-fw.fa-2x.ev.editar(data-toggle="tooltip" data-placement="top" title="Configurar")
												.col-md-1.col-xs-6.text-center(data-toggle="tooltip" data-placement="top" title="Eliminar")
													i(target='_BLANK',href='#', data-toggle='modal', data-target='#myModalEliminar', data-trigger='hover').fa.fa-trash-o.fa-2x.ev.delete
										.panel-body
											.col-md-6.col-xs-12.text-center
												| Descripción
											.col-md-4.col-xs-12.text-center
												| Fecha termino: 
												strong  12/12/2017
											.col-md-2.col-xs-12.text-center
												| Descuento: 
												strong  30%

								.col-md-offset-1.col-md-10.campania
									.panel.panel-default
										.panel-heading
											.row
												.col-md-6.col-xs-12.text-center
													h3.panel-title Titulo Campaña
												.col-md-4.col-xs-12.text-center
													h3.panel-title Estatus:  
														strong  Activo
												.col-md-1.col-xs-6.text-center
													i.fa.fa-cog.fa-fw.fa-2x.ev.editar(data-toggle="tooltip" data-placement="top" title="Configurar")
												.col-md-1.col-xs-6.text-center(data-toggle="tooltip" data-placement="top" title="Eliminar")
													i(target='_BLANK',href='#', data-toggle='modal', data-target='#myModalEliminar', data-trigger='hover').fa.fa-trash-o.fa-2x.ev.delete
										.panel-body
											.col-md-6.col-xs-12.text-center
												| Descripción
											.col-md-4.col-xs-12.text-center
												| Fecha termino: 
												strong  12/12/2017
											.col-md-2.col-xs-12.text-center
												| Descuento: 
												strong  30%
								.col-md-offset-1.col-md-10.campania
									.panel.panel-default
										.panel-heading
											.row
												.col-md-6.col-xs-12.text-center
													h3.panel-title Titulo Campaña
												.col-md-4.col-xs-12.text-center
													h3.panel-title Estatus:  
														strong  Activo
												.col-md-1.col-xs-6.text-center
													i.fa.fa-cog.fa-fw.fa-2x.ev.editar(data-toggle="tooltip" data-placement="top" title="Configurar")
												.col-md-1.col-xs-6.text-center(data-toggle="tooltip" data-placement="top" title="Eliminar")
													i(target='_BLANK',href='#', data-toggle='modal', data-target='#myModalEliminar', data-trigger='hover').fa.fa-trash-o.fa-2x.ev.delete
										.panel-body
											.col-md-6.col-xs-12.text-center
												| Descripción
											.col-md-4.col-xs-12.text-center
												| Fecha termino: 
												strong  12/12/2017
											.col-md-2.col-xs-12.text-center
												| Descuento: 
												strong  30%

								.col-md-offset-1.col-md-10.campania
									.panel.panel-default
										.panel-heading
											.row
												.col-md-6.col-xs-12.text-center
													h3.panel-title Titulo Campaña
												.col-md-4.col-xs-12.text-center
													h3.panel-title Estatus:  
														strong  Activo
												.col-md-1.col-xs-6.text-center
													i.fa.fa-cog.fa-fw.fa-2x.ev.editar(data-toggle="tooltip" data-placement="top" title="Configurar")
												.col-md-1.col-xs-6.text-center(data-toggle="tooltip" data-placement="top" title="Eliminar")
													i(target='_BLANK',href='#', data-toggle='modal', data-target='#myModalEliminar', data-trigger='hover').fa.fa-trash-o.fa-2x.ev.delete
										.panel-body
											.col-md-6.col-xs-12.text-center
												| Descripción
											.col-md-4.col-xs-12.text-center
												| Fecha termino: 
												strong  12/12/2017
											.col-md-2.col-xs-12.text-center
												| Descuento: 
												strong  30%
								.col-md-offset-1.col-md-10
									nav(aria-label='...')
										ul.pager
											li
												a(href='#') Previous
											li
												a(href='#') Next

						#nuevacampana.tab-pane.listado(role='tabpanel')
							.row
								.col-xs-offset-1.col-xs-10
									h1 Agregar una Campaña
									form#nuevacampana
										.col-xs-12
											label(data-toggle="tooltip" data-placement="top" title="Ingrese un codigo") 
												span.text-left Codigo
											input.form-control.codigo(placeholder="Introduce el codigo de la campaña")
										.col-xs-12
											label(data-toggle="tooltip" data-placement="top" title="Descripción breve de campaña") Descripción
											input.form-control.descripcion(placeholder="Introduce una descripcion de la campaña")
										.col-xs-6
											label(data-toggle="tooltip" data-placement="top" title="Ingrese una fecha") Fecha de inicio
											input.form-control.fechainicio(type="date", placeholder="Introduce la fecha de inicio")
										.col-xs-6
											label(data-toggle="tooltip" data-placement="top" title="Ingrese una fecha") Fecha de termino
											input.form-control.fechafin(type="date", placeholder="Introduce la fecha de termino")
										.col-xs-12.form-group
											label(data-toggle="tooltip" data-placement="top" title="Ingrese una cantidad") Descuento
											.input-group
												input.form-control.descuento(type='text', placeholder='Introduce el descuento de la campaña')
												.input-group-addon %
										.col-xs-12
											label(data-toggle="tooltip" data-placement="top" title="Ingrese estatus") Estatus
											select.form-control
												option Selecciona una
												option Activa
												option Desactivada
												option En pausa
											.space
											button.btn.btn-primary 
												i.fa.fa-trash-o.ev.fa-floppy-o  
												|  Guardar
											.space

		// Modal
		#myModalEliminar.modal.fade(tabindex='-1', role='dialog', aria-labelledby='myModalLabel')
			.modal-dialog(role='document')
				.modal-content
					.modal-header
						button.close(type='button', data-dismiss='modal', aria-label='Close')
							span(aria-hidden='true') ×
						h4.modal-title Eliminar
					.modal-body
						h4 ¿Estas seguro de eliminar la campaña?
					.modal-footer
						button.btn.btn-default(type='button', data-dismiss='modal') Close
						button.btn.btn-primary(type='button', data-dismiss='modal') Save changes

		
	script(src='http://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js')
	script(src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js")
	script(src='../js/app.js')