doctype
html
	head
		meta(charset='utf-8')
		meta(http-equiv='X-UA-Compatible', content='IE=edge')
		title
		meta(name='description', content='')
		meta(name='viewport', content='width=device-width, initial-scale=1')
		link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css')
		link(rel='stylesheet', href='../css/custom.css')

	body
		br
		.container.listado
			.row
				div
					// Nav tabs
					ul.nav.nav-tabs(role='tablist')
						li.active(role='presentation')
							a(href='#home', aria-controls='home', role='tab', data-toggle='tab') Campañas existentes
						li(role='presentation')
							a(href='#profile', aria-controls='profile', role='tab', data-toggle='tab') Nuevo
					// Tab panes
					.tab-content
						#home.tab-pane.active(role='tabpanel') 
							.col-md-offset-1.col-md-10.text-center
								h1 Listado de Promociones
						#profile.tab-pane(role='tabpanel')
							h1 Agregar una Campaña
							//- pantalla agregar nuevo
							.col-md-offset-1.col-md-10.text-center
								form#nuevacampana
									.col-xs-12
										label 
											span.text-left Codigo
										input.form-control.codigo
									.col-xs-12
										label Descripción
										input.form-control.descripcion
									.col-xs-6
										label Fecha de inicio
										input.form-control.fechainicio
									.col-xs-6
										label Fecha de inicio
										input.form-control.fechafin
									.col-xs-12.form-group
										label Descuento
										.input-group
											input.form-control.descuento(type='text', placeholder='Descuento')
											.input-group-addon %
									.col-xs-12
										label Estatus
										select.form-control
											option Selecciona una
											option Activa
											option Desactivada
											option En pausa
									.col-xs-12
										.space
										button.btn.btn-primary Guardar
										.space




		
	script(src='http://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js')
	script(src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js")
	script(src='../js/app.js')